<div id="{{ section_id }}" class="component component-spacing {{ highlight_color }}" is="msd-block-wysiwyg">
  <div class="container">
    <div class="wysiwyg text-center">
      
        <div class="wysiwyg__title">
          {{ titleHtml|e('wp_kses_post') }}
        </div>
     
     
        <div class="wysiwyg__content">
          {{ contentHtml|e('wp_kses_post') }}
        </div>
 
    </div>
  </div>
</div>
