<div id="{{ section_id }}" class="c-feature component component-spacing {{ highlight_color }}" is="text-image-right" style="background-image: url({{ bg_image.src }})">
  
    <div class="row align-items-end">
      <div class="col-md-6 order-md-12 c-feature__left-content">
        <div class="c-feature__body">

            <div class="wysiwyg__title">
              {{ titleHtml|e('wp_kses_post') }}
            </div>
        
            <div class="wysiwyg__content">
              {{ contentHtml|e('wp_kses_post') }}
            </div>
         
        </div>
      </div>
      <div class="col-md-6 c-feature__image-col c-feature__right-content">
        <div class="c-feature__image">
          {% if image %}
            <img src="{{ image.src }}" alt="{{ image.alt|e }}">
          {% endif %}
        </div>
      </div>
    </div>
  
</div>
