.c-tabs {
  &__header {
    text-align: center;
  }

  &__tab-container {
    margin: 24px 0 0;
    position: relative;
  }

  .nav {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    border: none;
    &-item {
      display: block;
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      position: relative;
      & + .nav-item:before {
        content: '';
        display: block;
        height: 100%;
        width: 20px;
        right: 100%;
        position: absolute;
        background: #fff;
        top: 0;
        margin-right: -10px;
        z-index: 2;
      }
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
      &-item {
        flex: 0 0 100%;
        max-width: 100%;
        & + .nav-item:before {
          display: none;
        }
      }
    }
    &-link {
      @extend .button;
      padding-top: 18px;
      padding-bottom: 18px;
      border-radius: 0;
      width: 100%;
      border: none;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      color: #fff;
      &.active {
        border: none;
        color: #fff;
        background: none;
      }
    }
  }

  .tab-pane {
  }

  .swiper-container {
  }

  .swiper-slide {
    position: relative;
    padding-top: 102px;
    height: auto;
    padding-bottom: 54px;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: 100%;
        opacity: 0.3;
      }
    }
    &__body {
      padding: 50px;
      position: relative;
      z-index: 10;
      background: $white;
      max-width: 360px;
      margin-left: auto;
    }
    @media (max-width: 767px) {
      padding-top: 250px;
      padding-bottom: 20px;
      &__body {
        padding: 30px;
      }
    }
  }


  .swiper-button-prev,
  .swiper-button-next {
    background: $white;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: '';
      background: no-repeat center;
      display: block;
      height: 100%;
      width: 100%;
    }
    @media (max-width: 767px) {
      top: auto;
      bottom: 0;
    }
  }
  .swiper-button-prev {
    left: 0;
    right: 0;
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4556 29.6187L15.6931 28.3813C15.9859 28.0884 15.9859 27.6135 15.6931 27.3206L4.39938 16L15.6931 4.6794C15.9859 4.38653 15.9859 3.91165 15.6931 3.61871L14.4556 2.38128C14.1628 2.0884 13.6879 2.0884 13.3949 2.38128L0.30657 15.4697C0.0136953 15.7626 0.0136953 16.2375 0.30657 16.5304L13.3949 29.6188C13.6879 29.9117 14.1628 29.9117 14.4556 29.6187Z' fill='%23333E48'/%3E%3C/svg%3E%0A");
    }
  }
  .swiper-button-next {
    right: 0;
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54437 29.6187L0.30693 28.3813C0.0140543 28.0884 0.0140543 27.6135 0.30693 27.3206L11.6006 16L0.30693 4.6794C0.0140543 4.38653 0.0140543 3.91165 0.30693 3.61871L1.54437 2.38128C1.83724 2.0884 2.31212 2.0884 2.60505 2.38128L15.6934 15.4697C15.9863 15.7626 15.9863 16.2375 15.6934 16.5304L2.60505 29.6188C2.31212 29.9117 1.83724 29.9117 1.54437 29.6187Z' fill='%23333E48'/%3E%3C/svg%3E%0A");
    }
  }

}
