<div id="{{ section_id }}" class="c-tabs component component-spacing" is="tabs">
  <div class="container">
    <div class="c-tabs__header">
      {{ titleHtml }}
    </div>
  </div>
  <div class="c-tabs__tab-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {% for item in tabs %}
        <li class="nav-item">
          <a class="nav-link {{ item.highlight_color }} {% if loop.first %}active{% endif %}" id="tab-heading-{{ loop.index }}" data-toggle="tab" href="#tab-{{ loop.index }}" role="tab" aria-controls="tab-{{ loop.index }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
      {% for tab in tabs %}
      <div class="tab-pane {{ tab.highlight_color }} fade {% if loop.first %}show active{% endif %}" id="tab-{{ loop.index }}" role="tabpanel" aria-labelledby="tab-heading-{{ loop.index }}">

        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for slide in tab.slides %}
              <div class="swiper-slide">
                <div class="swiper-slide__background">
                  <img src="{{ slide.image }}" alt=" {{ slide.image.alt }}">
                </div>
                <div class="container">
                  <div class="swiper-slide__body">
                    {{ slide.contentHtml }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

</div>
