[is='msd-navigation-footer'] {
  background: $secondary;
  color: $white;
  padding: 40px 0;

  .container {
    max-width: 100%;
    padding: 0 135px;

  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .logo-image {
    background: #c4c4c4;
    padding: 18px 82px;
    max-width: 226px;
  }

  .logo {
    margin-right: 23px;
  }

  .logo__image {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 450px;
  }

  @media (max-width: 1199px) {
    font-size: 13px;
  }
}
