<div class="flyntComponent" is="msd-navigation-footer">
  <div class="container">
    <div class="row align-items-center text-center">

      <div class="col-lg-4 my-4 my-lg-0 text-left">
        © Copyright 2020 All Rights Reserved
      </div>

      <div class="col-lg-4 text-lg-left logo__image">
        <a class="logo" href="{{ site.link }}">
          <img class="logo-image mx-auto" src="{{ logo.src }}" alt="{{ logo.alt }}">
        </a>
        <img src="http://newco.local/wp-content/uploads/2020/09/PinkIheartLogotypewhite-1.png" alt="footer_image">
      </div>
      
      <div class="col-lg-4 text-lg-right">
        Made by <a href="http://neonlogicagency.com" target="_blank">NeonLogic Agency</a>
      </div>
    </div>
  </div>
</div>
