
  .c-form {
    background: no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 100px 0;
    text-align: center;

    &__body {
      max-width: 525px;
      margin: 0 auto;
    }
  }

[is='form'] {
  background: #F3F3F3;
  #wpforms-164-field_5 {
    padding: 0;
    text-align: left;
  }

}