<div id="{{ section_id }}" class="c-form component component-spacing {{ highlight_color }}" is="form" style="background-image: url({{ bg_image.src }})">
  <div class="container">
    <div class="c-form__body">
      {{ contentHtml }}
    </div>
  </div>
</div>
