<div id="{{ section_id }}" class="c-feature component component-spacing {{ highlight_color }}" is="page-header" style="background-image: url({{ bg_image.src }})">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-7 order-md-12">
        <div class="c-feature__body">
          <div class="c-feature__text">
            {% if text_image %}
              <img src="{{ text_image.src }}" alt="{{ text_image.alt|e }}">
            {% endif %}
          </div>
          <div class="c-feature__content">
            {{ contentHtml }}
          </div>
        </div>
      </div>
      <div class="col-md-5 c-feature__image-col">
        <div class="c-feature__image">
          {% if image %}
            <img src="{{ image.src }}" alt="{{ image.alt|e }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
