[is='text-image-left'] {
  margin:0;
  .c-feature {
    background: no-repeat center;
    background-size: cover;
    margin: 0;
    .container > .row {
      min-height: 80px;
      @media (min-width: 992px) {
        min-height: 486px;
      }
    }

    &__image {
      align-self: flex-end;
      text-align: center;
      img { width: 100%; }
    }

    &__body {
      max-width: 473px;
      margin: 0 auto;
      padding: 0;

    }

    &__left-content {
      padding: 0;
    }
    &__right-content {
      align-self: center;
    }

    @media (min-width: 992px) {
      &__image-col {
        order: -1;
      }
    }

    &__text {
      margin-bottom: 44px;
      img {
        margin-left: -8px;
        @media (min-width: 992px) {
          max-width: none;
        }
      }
    }
  }
}