.c-grid-text {
  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  .row {
    > div {
      margin-bottom: 20px;
    }
  }

  .card {
    padding: 30px;
    &__image {
      margin-bottom: 20px;
    }

    :last-child { margin-bottom: 0; }
  }
}
