<div id="{{ section_id }}" class="c-grid-text component component-spacing" is="grid-text">
  <div class="container">
    {% if preContentHtml %}
      <div class="c-grid-text__header">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <div class="row justify-content-center">
      {% for item in items %}
        {% if item.image or item.contentHtml %}
          <div class="col-md-6 col-lg">
            <div class="card h-100 {% if card %}card--outline{% else %}card--solid{% endif %} {{ item.highlight_color }}">
              {% if item.image %}
                <img class="card__image" src="{{ item.image.src|resizeDynamic(86, 80) }}" alt="{{ item.image.alt|e }}">
              {% endif %}
              {% if item.contentHtml %}
                <div class="card__body">
                  {{ item.contentHtml|e('wp_kses_post') }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
