/**
* 0.0 Root
*
* Top level styles every element should inherit.
*/

html {
  background-color: $color-background;
  box-sizing: border-box;
  color: $color-text;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
}

/**
* 1.0 Typography
*
* Styling all likely used content flow elements.
*/

#{$heading-selectors} {
  color: $dark;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 0;

  a,
  a:hover,
  a:focus {
    color: $color-headline;
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  @media (max-width: 575px) {
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 37px;
  @media (max-width: 575px) {
    font-size: 22px;
  }
}

h3,
.h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  @media (min-width: $breakpoint-mobile-horizontal) {
  }
}

h4,
.h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  @media (min-width: $breakpoint-mobile-horizontal) {
  }
}

h5,
.h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}

h6,
.h6 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

a {
  color: $color-brand;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: darken($color-brand, 10%);
  }
}

p,
.paragraph,
table,
figure {
  margin: 20px 0;
  font-size: 16px;
}

hr {
  background-color: $color-border;
  border: 0;
  display: block;
  height: 1px;
  margin: 2.4rem 0;
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 0 0.3rem;
}

blockquote,
.blockquote {
  border-left: 4px solid $color-accent;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55;
  margin: 2.4rem auto;
  max-width: 28rem;
  padding: 0.8rem 1.5rem;

  p:last-child {
    margin-bottom: 0;
  }
}

/**
* 1.1 Lists & Tables
*
* Default and custom styled list and table elements.
*/

ul,
ol {
  margin: 0 0 1.2rem;
  padding-left: 1.5rem;

  ul,
  ol {
    margin-bottom: 0;
  }
}

/* Icon Lists */

.iconList {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &::before {
      background-size: contain;
      content: '';
      display: block;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 0.25rem;
      width: 1rem;
    }
  }

  &--checkCircle {
    li::before {
      background-image: url('../assets/icons/check-circle.svg');
    }
  }
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

td,
th {
  padding: 1.25rem;
  text-align: inherit;
  vertical-align: top;
}

thead {
  th {
    border-bottom: 2px solid $color-accent;
    color: $color-headline;
    padding-bottom: 10px;
    vertical-align: bottom;
    white-space: nowrap;
  }
}

tr:nth-child(even) {
  background-color: $color-background-light;
}

/**
* 1.2 Buttons
*
* Global button elements, including reset on standard button element.
*/

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
}

.button {
  appearance: none;
  background-color: $color-brand;
  border: 2px solid $color-brand;
  border-radius: 3px;
  color: $color-background;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.45;
  font-weight: 700;
  padding: 14px 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  user-select: none;

  &:disabled,
  &--disabled {
    cursor: default;
    opacity: 0.65;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: lighten( $color-brand, 5 );
    border-color: lighten( $color-brand, 5 );
    color: $color-background;
  }

  &--ghost {
    background-color: transparent;
    border-color: $color-brand;
    color: $color-brand;

    &:hover,
    &:focus {
      background-color: $color-brand;
      border-color: $color-brand;
      color: $color-background;
    }
  }

  &--small {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  &--link {
    background-color: transparent;
    border: 0;
    color: $color-accent;
    padding: 0;
    position: relative;
    text-transform: none;
    transition: color 0.2s ease-out;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-background-dark;

      &::before {
        background-color: $color-background-dark;
      }

      &::after {
        background-position: right center;
      }
    }

    &::before {
      background-color: $color-accent;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      transition: background-color 0.2s ease-out;
      width: 100%;
    }

    &::after {
      $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
      $color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-dark-rgb})'/%3E%3C/svg%3E");
      background-position: left center;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 10px;
      margin-left: 10px;
      transition: background-position 0.2s ease-out;
      vertical-align: baseline;
      width: 6px;
    }
  }
}

/* Pills */

.pill {
  background-color: $color-background-dark;
  border-radius: 1rem;
  color: $color-background;
  display: inline-block;
  font-size: 0.8rem;
  max-width: 100%;
  overflow: hidden;
  padding: 0.125rem 1rem;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $color-background;
  }
}

/* Icons */

.feather {
  color: $color-accent;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

/**
* 1.3 Forms
*
* Global form elements, including structering wrapper elements.
*/

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0 0 1.5rem;
  padding: 0;

  *:last-child {
    margin-bottom: 0;
  }
}

legend {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}

label {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

#{$input-selectors} {
  appearance: none;
  background-color: $color-background;
  border: 1px solid #EBECEE;
  border-radius: 0;
  color: $color-headline;
  font-family: inherit;
  font-size: inherit;
  min-height: 50px;
  width: 100%;
  max-width: none;
}

input,
select,
textarea {
  margin: 0;
  padding: 10px 20px;
}

textarea {
  min-height: 150px;
  padding: 20px;
  resize: vertical;
  width: 100%;
}

select {
  $color-text-rgb: red($color-contrast), green($color-contrast),
    blue($color-contrast);

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='rgb(#{$color-text-rgb})' stroke-width='5'  points='2,9 16,25 30,9 '/%3E%3C/svg%3E");
  background-position: calc(100% - 18px) center;
  background-repeat: no-repeat;
  background-size: 9px;
  line-height: 1.75;
  padding-right: 45px;

  &::-ms-expand {
    display: none;
  }
}

[type='checkbox'],
[type='radio'] {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 1px;

  &,
  &:hover,
  &:focus {
    border-color: $color-border;
    outline: 0;
  }

  + label {
    display: inline-block;
    padding-left: 1.875rem;
    position: relative;
    width: 100%;

    &::before {
      background-color: #fff;
      border: 1px solid $color-border;
      border-radius: 2px;
      content: '';
      display: block;
      height: 15px;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 4px;
      transition: border-color 0.2s ease, background-color 0.2s ease;
      width: 15px;
    }
  }

  &:checked {
    + label::before {
      background-color: $color-brand;
      border-color: $color-brand;
      box-shadow: inset 0 0 0 2px #fff;
    }
  }
}

[type='radio'] {
  + label::before {
    border-radius: 50%;
  }
}

.card {
  &__body {
    display: flex;
    height: 100%;
    flex-direction: column;
    :last-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      > .button {
        margin-top: auto;
        max-height: 50px;
        &--small {
          max-height: 40px;
        }
      }
    }
  }

  &--outline {
    background: #fff;
    border: 1px solid $gray-300;
  }
}

/**
* 2.0 Helpers
*
* Global layout classes for a consistent appearance.
*/

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .admin-bar & {
    padding-top: 46px;

    @media (min-width: 782px) {
      padding-top: 32px;
    }
  }
}

.mainContent {
  flex: 1 0 auto;
}

.flyntComponent {
  position: relative;
}

.component-spacing {
  margin: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet) {
    margin: $component-spacing-tablet 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: $component-spacing-desktop 0;
  }

  &[class*='theme'] {
    margin: 0;
    padding: $component-spacing-mobile 0;

    @media (min-width: $breakpoint-tablet) {
      padding: $component-spacing-tablet 0;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: $component-spacing-desktop 0;
    }
  }
}

.centerMaxWidthContainer {
  @include center;

  @media (min-width: $breakpoint-tablet) {
    @include center($padding: $container-padding-tablet);
  }

  @media (min-width: $breakpoint-desktop) {
    @include center($padding: $container-padding-desktop);
  }
}

.centerContentMaxWidth {
  margin: 0 auto;
  max-width: $content-max-width;
}

.preContent {
  @include reset-content-margins;
  margin: 0 auto 32px;
  max-width: $content-max-width;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: $container-padding-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: $container-padding-desktop;
  }
}

.postContent {
  @include reset-content-margins;
  margin: 32px auto 0;
  max-width: $content-max-width;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    margin-top: $container-padding-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: $container-padding-desktop;
  }
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

/* Class for text that should only be visible to screen readers */

.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px !important;
}

/* Box Helpers */

.boxPadding {
  @include reset-content-margins;
  padding: 20px;

  @media (min-width: $breakpoint-tablet-horizontal) {
    padding: 30px;
  }
}

.boxShadow {
  box-shadow: 0 1px 26px 0 rgba(0, 0, 0, 0.06);
}

/* Custom styling for single post layouts */

.post {
  &-main {
    .componentSpacing {
      margin: $component-spacing-mobile/2 0;

      @media (min-width: $breakpoint-tablet) {
        margin: $component-spacing-tablet/2 0;
      }

      @media (min-width: $breakpoint-desktop) {
        margin: $component-spacing-desktop/2 0;
      }

      &[class*='theme'] {
        margin: 0;
        padding: $component-spacing-mobile/2 0;

        @media (min-width: $breakpoint-tablet) {
          padding: $component-spacing-tablet/2 0;
        }

        @media (min-width: $breakpoint-desktop) {
          padding: $component-spacing-desktop/2 0;
        }
      }
    }

    > .component-spacing {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Skip link behaviour */

.skipLink {
  position: fixed;
  top: -100px;
  z-index: 999;

  &:focus {
    top: 0;
  }
}

/**
* 3.0 Themes
*
* Color themes for backgrounds and content elements.
*/

.themeLight {
  background-color: $color-background-light;
}

.themeDark {
  background-color: $color-background-dark;

  &,
  #{$heading-selectors} {
    color: $color-background;
  }

  .button {
    &:hover,
    &:focus {
      background-color: $color-background-hero;
      border-color: $color-background-hero;
      color: $color-background;
    }

    &--ghost {
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background-hero;
        color: $color-background-hero;
      }
    }

    &--link {
      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background;

        &::before {
          background-color: $color-background;
        }
      }

      &::after {
        $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
        $color-background-rgb: red($color-background), green($color-background), blue($color-background);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    background-color: $color-background-hero;
  }
}

.themeHero {
  background-color: $color-background-hero;

  &,
  #{$heading-selectors},
  a,
  .feather {
    color: $color-background;
  }

  a:hover,
  a:focus {
    color: $color-background-dark;
  }

  .button {
    background-color: $color-background-dark;
    border-color: $color-background-dark;
    color: $color-background;

    &:hover,
    &:focus {
      background-color: $color-background;
      border-color: $color-background;
      color: $color-background-dark;
    }

    &--ghost {
      background-color: transparent;
      border-color: $color-background-dark;
      color: $color-background-dark;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background;
        color: $color-background;
      }
    }

    &--link {
      background-color: transparent;
      color: $color-background;

      &::before {
        background-color: $color-background;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background-dark;

        &::before {
          background-color: $color-background-dark;
        }
      }

      &::after {
        $color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);
        $color-background-rgb: red($color-background), green($color-background), blue($color-background);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-background-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-dark-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    &:hover,
    &:focus {
      color: $color-background;
    }
  }
}

.themeReset {
  background-color: $color-background;
  color: $color-text;

  #{$heading-selectors} {
    color: $color-headline;

    a,
    a:hover,
    a:focus {
      color: $color-headline;
      text-decoration: none;
    }
  }

  a,
  .feather {
    color: $color-accent;
  }

  a:hover,
  a:focus {
    color: darken($color-accent, 10%);
  }

  .button {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-background;

    &:hover,
    &:focus {
      background-color: $color-background-dark;
      border-color: $color-background-dark;
      color: $color-background;
    }

    &--ghost {
      background-color: transparent;
      border-color: $color-accent;
      color: $color-accent;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $color-background-dark;
        color: $color-background-dark;
      }
    }

    &--link {
      background-color: transparent;
      color: $color-accent;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-background-dark;

        &::before {
          background-color: $color-background-dark;
        }
      }

      &::before {
        background-color: $color-accent;
      }

      &::after {
        $color-accent-rgb: red($color-accent), green($color-accent), blue($color-accent);
        $color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.586 5L.293 8.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4A1 1 0 1 0 .293 1.707L3.586 5z' fill='rgb(#{$color-accent-rgb})'/%3E%3Cpath d='M13.586 5l-3.293 3.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L13.586 5z' fill='rgb(#{$color-background-dark-rgb})'/%3E%3C/svg%3E");
      }
    }
  }

  .pill {
    color: $color-background;
  }
}


.button[href^="https://www.youtube.com/watch?v"] {
  &:after {
    content: '';
    background: no-repeat center;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M13 25.5938C6.04297 25.5938 0.40625 19.957 0.40625 13C0.40625 6.04297 6.04297 0.40625 13 0.40625C19.957 0.40625 25.5938 6.04297 25.5938 13C25.5938 19.957 19.957 25.5938 13 25.5938ZM18.8754 11.7812L9.93789 6.65234C9.13555 6.20547 8.125 6.7793 8.125 7.71875V18.2812C8.125 19.2156 9.13047 19.7945 9.93789 19.3477L18.8754 13.9141C19.7082 13.4469 19.7082 12.2434 18.8754 11.7812Z' fill='white'/%3E%3Cpath d='M18.8754 11.7813L9.93789 6.65235C9.13555 6.20548 8.125 6.7793 8.125 7.71876V18.2813C8.125 19.2156 9.13047 19.7945 9.93789 19.3477L18.8754 13.9141C19.7082 13.4469 19.7082 12.2434 18.8754 11.7813Z' fill='white'/%3E%3C/svg%3E%0A");
    height: 26px;
    width: 26px;
    display: inline-block;
    margin: -8px 0;
    margin-left: 16px;
  }
}
