@each $color, $value in $theme-colors {
  .highlight-#{$color} {
    #{$heading-selectors} {
      color: $value;
    }

    &.card--solid {
      background: rgba($value, 0.2);
    }

    &.nav-link {
      background: $value;
      border-color: $value;
      &:hover,
      &:focus {
        background-color: lighten( $value, 5 );
        border-color: lighten( $value, 5 );
      }
    }

    &.tab-pane {
      background: $value;
    }

    .button {
      background: $value;
      border-color: $value;

      &:hover,
      &:focus {
        background-color: lighten( $value, 5 );
        border-color: lighten( $value, 5 );
      }

      &--ghost {
        background-color: transparent;
        border-color: $value;
        color: $value;

        &:hover,
        &:focus {
          background-color: $value;
          border-color: $value;
          color: $color-background;
        }
      }
    }
  }
}
