$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;

$container-max-width: 1132px;
$container-padding-desktop: 60px;
$container-padding-tablet: 40px;
$container-padding-mobile: 15px;
$content-max-width: 775px;
$component-spacing-desktop: 80px;
$component-spacing-tablet: 80px;
$component-spacing-mobile: 40px;
$gutter-width: 20px;

$primary: #121F6B;
$secondary: #333E48;

$white:   #fff;
$lighter: #EBECEE;
$light:   #F3F3F3;
$dark:    #3D3D3D;
$darker:  #1A1F24;
$black:   #000;

$success:  #6EAA38;
$danger:   #DF3A24;
$info:     #007BC4;
$warning:  #F6A145;
$fuchsia:  #DA306C;
$teal:     #008296;
$indigo:   #B44D97;

$gray:     #C1C1C1;
$gray-25:  #FAFAFB;
$gray-50:  #F0F1F2;
$gray-100: #EBECEE;
$gray-200: #D8D9DC;
$gray-300: #C5C7C9;
$gray-400: #B2B4B7;
$gray-500: #666A6D;
$gray-600: #53575B;
$gray-700: #404449;
$gray-800: #2D3236;
$gray-900: #1A1F24;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "fuchsia":    $fuchsia,
  "teal":       $teal,
  "indigo":     $indigo,
  "light":      $light,
  "dark":       $dark
);

$body-color: $secondary;
$body-bg:    $white;

$color-brand: $primary;
$color-accent: $secondary;
$color-background: $white;
$color-contrast: $secondary;
$color-text: $color-contrast;
$color-headline: $primary;
$color-border: $gray-300;

$color-background-light: $gray-300;
$color-background-dark: $secondary;
$color-background-hero: $primary;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';

// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "display": (
      responsive: true,
      print: true,
      property: display,
      class: d,
      values: inline inline-block block table table-row table-cell flex inline-flex none
    ),
    // Sizing utilities
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "height": (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "justify-content": (
      responsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      )
    ),
    "align-items": (
      responsive: true,
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      )
    ),
    "order": (
      responsive: true,
      property: order,
      values: (
        first: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        last: 6,
      ),
    ),
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: left right center
    ),
    "color": (
      property: color,
      class: text,
      values: map-merge(
        $theme-colors,
        (
          "white": $white,
          "body": $body-color,
          "reset": inherit,
        )
      )
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values: map-merge(
        $theme-colors,
        (
          "body": $body-bg,
          "white": $white,
          "transparent": transparent
        )
      )
    ),
  ),
  $utilities
);
