.c-feature {
  background: no-repeat center;
  background-size: cover;
  .container > .row {
    min-height: 80px;
    @media (min-width: 992px) {
      min-height: 594px;
    }
  }

  &__image {
    align-self: flex-end;
    text-align: center;
  }

  &__body {
    margin: 54px 0;
    @media (min-width: 992px) {
      padding: 0 60px;
    }
  }

  @media (min-width: 992px) {
    &__image-col {
      order: -1;
    }
  }

  &__text {
    margin-bottom: 44px;
    img {
      margin-left: -8px;
      @media (min-width: 992px) {
        max-width: none;
      }
    }
  }
}
