.c-hero {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: no-repeat center;
  background-size: cover;
  .container > .row {
    padding-top: 80px;
    @media (min-width: 768px) {
      padding-top: 120px;
    }
    @media (min-width: 992px) {
      min-height: 650px;
    }
  }

  &__image {
    align-self: flex-end;
    text-align: center;
    @media (min-width: 992px) {
      margin-top: 25px;
    }
  }

  &__body {
    margin: 54px 0;
    @media (min-width: 992px) {
      padding: 0 60px;
    }
  }

  &__text {
    margin-bottom: 44px;
    z-index: 2;
    position: relative;
    img {
      margin-left: -8px;
      @media (min-width: 992px) {
        max-width: none;
      }
    }
  }
}
