<div id="{{ section_id }}" class="c-hero component component-spacing {{ highlight_color }}" is="hero" style="background-image: url({{ bg_image.src }})">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-6">
        <div class="c-hero__body">
          <div class="c-hero__text">
            {% if text_image %}
              <img src="{{ text_image.src }}" alt="{{ text_image.alt|e }}">
            {% endif %}
          </div>
          <div class="c-hero__content">
            {{ contentHtml }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="c-hero__image">
          {% if image %}
            <img src="{{ image.src }}" alt="{{ image.alt|e }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
