/* Backend Component Screenshots */
.flyntComponentScreenshot {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  bottom: 5px;
  display: inline-block;
  height: 36px;
  margin-left: 5px;
  padding: 2px;
  position: absolute;

  &-imageWrapper {
    bottom: 0;
    position: absolute;
    right: 100%;
  }

  &-image {
    background: #fff;
    border: 3px solid #333739;
    border-radius: 3px;
    bottom: 0;
    display: block;
    height: 250px;
    max-width: 500px;
    position: absolute;
    right: 20px;
  }

  &-imageElement {
    display: block;
    object-fit: contain;
    width: 75px;
  }

  &-label {
    bottom: 4px;
    left: 100%;
    padding-left: 8px;
    position: absolute;
    white-space: nowrap;
  }
}
