[is='msd-navigation-main'] {
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f3f3f3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    background: #c4c4c4;
    padding: 18px 82px;
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 50vw;
      right: 100%;
      height: 100%;
      top: 0;
      background: transparent;
    }

    &-image {
      max-width: 226px;
    }
    @media (max-width: 575px) {
      padding: 10px 15px 10px 0;
      &-image {
        max-width: 160px;
      }
    }
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    &-link {
      font-size: 14px;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      text-decoration: none;
    }

    .menu-item:last-child {
      .menu-link {
        @extend .button;
        @extend .button--ghost;
        @media (max-width: 575px) {
          font-size: 11px;
          padding: 8px 10px;
        }
      }
    }
  }
}
